* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --rBlack: #0F0E0E;
  --burgundy:#7b081b;
  --byzantium: #522B47;
  --mBlue: #8DAA9D;
  --snow: #FBF5F3;
  --gradient: linear-gradient(90deg, #522B47, #7b081b);
}

body {
  background-color: var(--snow);
  color: var(--rBlack);
  overflow-x: hidden;
}

div.overlay-effect {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.801);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--snow);
  width: 100%;
  -webkit-box-shadow: 0 0 10px 0 var(--burgundy);
          box-shadow: 0 0 10px 0 var(--burgundy);
  height: 5rem;
  margin-bottom: 1rem;
}

header div + div {
  margin-right: 1rem;
}

header div {
  cursor: pointer;
}

div.header-right-buttons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 1rem;
  gap: 2rem;
}

section.settings {
  width: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 3;
  height: 100vh;
  position: fixed;
  background-color: white;
  top: 0;
  overflow: scroll;
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #ffd3d3;
  border-radius: 1.2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff9191;
}

div.profile-interests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: justify;
  width: 300px;
}

div.profile-interest {
  border: 1px solid var(--burgundy);
  border-radius: 100vmax;
  padding: 5px 10px;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

i.add-interest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 14px;
  margin-top: .7rem;
  border: 1px solid var(--burgundy);
}

i.add-interest:hover {
  color: white;
  background-color: var(--burgundy);
}

button.delete-interest {
  border-radius: 50%;
  background-color: var(--burgundy);
  color: white;
  width: 1rem;
  height: 1rem;
  font-size: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  margin-left: 5px;
}

div.profile-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.profile-picture-div {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 1rem auto;
}

div.profile-picture-div i {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
}

div.profile-other-pictures-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.profile-other-pictures-container i {
  height: 100%;
  cursor: pointer;
  color: #c0bfbf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.profile-other-pictures-container i:hover {
  color: var(--rBlack);
}

div.profile-other-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  overflow-x: hidden;
  margin: auto;
}

div.profile-other-pictures img {
  width: 80px;
  border: 1px solid black;
  -webkit-filter: opacity(0.2);
          filter: opacity(0.2);
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  -webkit-transition: -webkit-filter 300ms, -webkit-transform 400ms;
  transition: -webkit-filter 300ms, -webkit-transform 400ms;
  transition: filter 300ms, transform 400ms;
  transition: filter 300ms, transform 400ms, -webkit-filter 300ms, -webkit-transform 400ms;
}

div.profile-other-pictures img:hover {
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

p.profile-header {
  font-size: 14px;
  width: 300px;
  margin-top: 1rem;
}

img.profile-picture {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid var(--burgundy);
}

input.profile-username {
  padding: 5px 10px;
  border: none;
  border-bottom: 1px rgba(128, 128, 128, 0.479) solid;
  outline: none;
}

input.profile-username:focus {
  border-bottom: 1px solid var(--burgundy);
}

.custom-select {
  position: relative;
  width: 300px;
}

.custom-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  height: 100%;
  width: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid var(--burgundy);
  pointer-events: none;
}

.custom-arrow i {
  color: var(--burgundy);
}

.that-select {
  cursor: pointer;
  border: 1px solid var(--burgundy);
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  background-color: white;
  color: var(--burgundy);
  width: 300px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /* interesting */
}

.that-select:focus {
  outline: none;
}

textarea.profile-description {
  margin-top: 0.5rem;
  padding: 5px 10px;
  font-size: 14px;
  color: var(--burgundy);
  outline: none;
  border: none;
  border-bottom: 1px solid var(--burgundy);
  border: 1px solid black;
  outline: none;
}

textarea.profile-description:focus {
  border: 1px solid var(--burgundy);
}

button.settings-save-button {
  cursor: pointer;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--burgundy);
  background-color: white;
  color: var(--burgundy);
  font-weight: 600;
  outline: none;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  margin: 2rem 0;
  width: 300px;
}

button.settings-save-button i {
  margin-left: 3px;
}

button.settings-save-button:hover {
  background-color: var(--burgundy);
  color: white;
}

button.settings-save-button:hover i {
  color: white;
}

section.algorithm {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 1rem;
}

section.algorithm p {
  max-width: 400px;
}

img.location-picker-map {
  width: 400px;
  height: 400px;
  cursor: pointer;
  position: absolute;
}

div.location-dummy {
  width: 400px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0.5;
}

div.dummy-square {
  border: 1px solid #b3afaf;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 3px;
}

button.relocation-set-button {
  cursor: pointer;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--burgundy);
  background-color: white;
  color: var(--burgundy);
  font-weight: 600;
  outline: none;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  margin-top: 0.5rem;
}

button.relocation-set-button i {
  margin-left: 3px;
}

button.relocation-set-button:hover {
  background-color: var(--burgundy);
  color: white;
}

.spinning-icon {
  -webkit-animation: spinning 500ms infinite ease-out;
          animation: spinning 500ms infinite ease-out;
}

div.filter-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 3rem;
  margin-bottom: 1rem;
}

div.filter-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.filter-tag {
  background-color: var(--burgundy);
  padding: 5px 10px;
  color: white;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-size: 14px;
}

button.undo-filters-button {
  cursor: pointer;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--burgundy);
  background-color: white;
  color: var(--burgundy);
  font-weight: 600;
  outline: none;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  height: 2rem;
  margin-left: 1rem;
  outline: none;
}

button.undo-filters-button i {
  margin-left: 3px;
}

button.undo-filters-button:hover {
  background-color: var(--burgundy);
  color: white;
}

button.close-settings-btn,
button.close-filters-button {
  background-color: var(--burgundy);
  color: white;
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  font-size: 18px;
  font-weight: bolder;
  border: none;
  outline: none;
  border-radius: 3px;
  width: 2rem;
  height: 2rem;
}

div.main-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.main-buttons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-weight: 600;
  margin-left: 1rem;
}

div.main-buttons div i {
  margin-left: 3px;
}

div.main-buttons div i.filter-icon {
  margin-left: 0;
  font-size: 30px;
  -webkit-transform: scaleY(1.2) scaleX(0.8) rotate(270deg);
          transform: scaleY(1.2) scaleX(0.8) rotate(270deg);
}

div.filter-board {
  background-color: white;
  width: 450px;
  margin: auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-animation: slideIn;
          animation: slideIn;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

div.filter-board input {
  margin-left: 10px;
  margin-right: 3px;
}

div.filter-board h4 {
  margin-top: 1rem;
}

div.age-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

div.age-filters div + div {
  margin-left: 1rem;
}

input.age-input {
  width: 3rem;
  background-color: none;
  border: none;
  border-bottom: 1px solid var(--burgundy);
}

button.apply-filters-button {
  cursor: pointer;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--burgundy);
  background-color: white;
  color: var(--burgundy);
  font-weight: 600;
  outline: none;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  margin-bottom: 1rem;
}

button.apply-filters-button i {
  margin-left: 3px;
}

button.apply-filters-button:hover {
  background-color: var(--burgundy);
  color: white;
}

div.translucent-div {
  pointer-events: none;
  opacity: 0.5;
}

i.premium-icon {
  position: absolute;
  font-size: 20px;
  margin-left: 5px;
  color: var(--rBlack);
  border-radius: 50%;
  background-color: gold;
  cursor: pointer;
}

.profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.profile-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  border-radius: 15px;
  -webkit-animation: profileCardAppear;
          animation: profileCardAppear;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin: 0.25rem;
  cursor: pointer;
  border: 1px solid var(--burgundy);
}

div.profile-card p {
  padding-left: 5px;
  color: white;
}

div.nameAgeActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.568);
}

div.active-status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 3px;
}

.online-profile {
  background-color: #00c000;
}

.offline-profile {
  background-color: var(--burgundy);
}

p.profile-name {
  font-size: 16px;
  font-weight: bold;
}

p.relationship-stat {
  height: 1.5rem;
  background-color: rgba(0, 0, 0, 0.568);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

p.profile-gender {
  height: 1.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.568);
}

p.profile-age {
  margin-left: 5px;
  font-size: 16px;
}

img.profile-image {
  width: 200px;
  height: 200px;
  position: absolute;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  border-radius: inherit;
}

div.more-profiles-limit {
  background-color: black;
  width: 100%;
  color: white;
  font-size: 20px;
  padding: 1rem 2rem;
  text-align: center;
  font-weight: 600;
  display: none;
}

span.bait-span {
  cursor: pointer;
  color: gold;
}

div.open-profile {
  width: 400px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: slideIn;
          animation: slideIn;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  position: relative;
}

div.open-profile-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img.open-profile-image {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

div.open-profile-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

div.open-profile-buttons button + button {
  margin-left: 2rem;
}

.open-profile-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
}

.open-profile-id div {
  margin-left: 3px;
}

p.open-profile-description {
  padding: 5px 10px;
}

div.other-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.other-images img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 1px solid black;
  -webkit-filter: opacity(0.2);
          filter: opacity(0.2);
  -webkit-transition: -webkit-filter 400ms;
  transition: -webkit-filter 400ms;
  transition: filter 400ms;
  transition: filter 400ms, -webkit-filter 400ms;
}

div.other-images img:hover {
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

span.open-profile-name {
  font-size: 18px;
  font-weight: 600;
}

button.open-profile-btn {
  cursor: pointer;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--burgundy);
  background-color: white;
  color: var(--burgundy);
  font-weight: 600;
  outline: none;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  width: 6rem;
}

button.open-profile-btn i {
  margin-left: 3px;
}

.open-profile-online {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #00c000;
  border-radius: 50%;
}

.open-profile-offline {
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--burgundy);
  border-radius: 50%;
}

.text-btn:hover {
  background-color: var(--burgundy);
  color: white;
}

.poke-btn:hover {
  background-color: var(--burgundy);
  color: white;
}

i.close-profile-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--burgundy);
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  z-index: 3;
  border: none;
  background-color: rgba(255, 255, 255, 0.459);
  -webkit-transition: -webkit-box-shadow 500ms;
  transition: -webkit-box-shadow 500ms;
  transition: box-shadow 500ms;
  transition: box-shadow 500ms, -webkit-box-shadow 500ms;
}

i.close-profile-button:hover {
  -webkit-box-shadow: 0 0 5px 0 var(--burgundy);
          box-shadow: 0 0 5px 0 var(--burgundy);
}

div.premium-ad {
  display: none;
  background-color: white;
  width: 400px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: slideIn;
          animation: slideIn;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  gap: 1rem;
}

div.ad-picture-slider {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}

div.ad-picture-slider img {
  width: 400px;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

div.ad-infos {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}

div.ad-infos div {
  width: 400px;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

div.ad-infos div h4 {
  width: 400px;
  padding: 5px;
}

div.ad-infos div p {
  width: 400px;
  padding-left: 5px;
}

div.upgrade-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  padding: 10px 15px;
  border: radius 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  margin-top: 0.25rem;
  -webkit-transition: -webkit-box-shadow 300ms;
  transition: -webkit-box-shadow 300ms;
  transition: box-shadow 300ms;
  transition: box-shadow 300ms, -webkit-box-shadow 300ms;
}

div.upgrade-option p {
  font-size: 16px;
}

div.upgrade-option:hover {
  -webkit-box-shadow: 0 0 5px 0 black;
          box-shadow: 0 0 5px 0 black;
}

p.upgrade-price {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

div.plus-package {
  background-color: rgba(80, 1, 80, 0.651);
}

div.premium-package {
  background-color: var(--burgundy);
}

div.mega-shiny-package {
  background-color: rgba(1, 1, 82, 0.623);
}

p.upgrade-encouragement {
  border: 2px solid var(--burgundy);
  padding: 5px 10px;
  position: absolute;
  z-index: 3;
  top: 0.5rem;
  font-size: 16px;
  color: var(--burgundy);
  background-color: rgba(255, 255, 255, 0.336);
  font-weight: 900;
  letter-spacing: 2px;
  border-radius: 2rem;
  pointer-events: none;
}

i.close-ad-btn {
  background-color: transparent;
  color: var(--burgundy);
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  z-index: 3;
  font-size: 2rem;
  -webkit-transition: -webkit-box-shadow 300ms;
  transition: -webkit-box-shadow 300ms;
  transition: box-shadow 300ms;
  transition: box-shadow 300ms, -webkit-box-shadow 300ms;
}

i.close-ad-btn:hover {
  -webkit-box-shadow: 0 0 10px 0 var(--burgundy);
          box-shadow: 0 0 10px 0 var(--burgundy);
}

div.upgrade-options {
  width: 400px;
  padding: 5px;
}

@-webkit-keyframes scaleup {
  0% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: rgba(231, 4, 4, 0.74);
  }
}

@keyframes scaleup {
  0% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: rgba(231, 4, 4, 0.74);
  }
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slide-out {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes profileCardAppear {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  75% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes profileCardAppear {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  75% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes spinning {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@keyframes spinning {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@media (max-width: 750px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-buttons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .main-buttons p {
    display: none;
  }
}

@media (max-width: 600px) {
  section.settings {
    width: 100%;
  }
  section.algorithm {
    width: 100%;
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100vh;
    padding: 0px;
  }
  section.algorithm h4 {
    padding: 5px;
  }
  section.algorithm p {
    padding: 5px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
  }
  section.algorithm button {
    margin: 0 1rem 1rem 1rem;
  }
  div.location-picker {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    width: 200px;
    margin: auto;
  }
  div.location-picker div.location-dummy {
    width: 200px;
    height: 200px;
  }
  div.location-picker img {
    width: 200px;
    height: 200px;
  }
  div.dummy-square {
    width: 10px;
    height: 10px;
  }
  div.profile-card {
    width: 100px;
    height: 100px;
    border-radius: 0;
    border: none;
  }
  div.profile-card p {
    display: none;
  }
  div.profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 0;
  }
}

@media (max-width: 400px) {
  div.open-profile {
    width: 100%;
  }
  img.open-profile-image {
    width: 75%;
  }
  div.filter-div {
    display: none;
  }
  div.premium-ad {
    width: 100%;
  }
  div.ad-infos {
    width: 90%;
  }
  div.ad-infos p {
    max-width: 100%;
  }
  div.ad-infos div {
    width: 100%;
  }
  div.upgrade-options {
    width: 90%;
  }
}
/*# sourceMappingURL=styles.css.map */